# Python cache
__pycache__/
*.pyc
*.py[cod]

# Virtual environment
env/
venv/
.venv/

# VS Code
.vscode/

# Environment variables
.env

# Generated output files
output/

# Operating system files
.DS_Store
Thumbs.db

VoxIntel_Dataset_Cleaning/